@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .row0 {
    display: flex;
    margin-left: 1px;
    margin-top: 0;
    width: 316px;
    height: 99px;
    align-items: center
  }
  .style4 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 0;
    width: 216px;
    height: 100%;
    flex-direction: column
  }
  .style6 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .9375em;
    margin-left: 139px;
    margin-top: 38px;
    height: 3px
  }
  .style5 {
    margin-left: 181px;
    margin-top: 24px;
    width: 1px;
    height: 1px
  }
  .row0column1 {
    display: flex;
    margin-left: 20px;
    width: 80px;
    height: 58px;
    align-items: stretch;
    flex-direction: column
  }
  .style7,
  .style8 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .9375em;
    margin-top: 0;
    height: 30px
  }
  .style8 {
    margin-top: 9px;
    height: 19px
  }
  .style12,
  .style9 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    position: relative
  }
  .style9 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 48px;
    width: 303px;
    height: 86px
  }
  .style12 {
    margin-left: 171px;
    margin-top: 78px;
    width: 76px;
    height: 83px;
    flex-shrink: 0
  }
  .row2 {
    display: flex;
    margin-left: 59px;
    margin-top: 2px;
    width: 132px;
    height: 75px;
    align-items: center
  }
  .style10 {
    margin-left: 0;
    width: 65px;
    height: 100%
  }
  .style11 {
    margin-left: 19px;
    width: 48px;
    height: 70px
  }
  .style13 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .9375em;
    margin-left: 1px;
    margin-top: 4px;
    height: 145px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .row0 {
    display: flex;
    margin-left: 2px;
    margin-top: 0;
    width: 647px;
    height: 203px;
    align-items: center
  }
  .style4 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 0;
    width: 442px;
    height: 100%;
    flex-direction: column
  }
  .style6 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.92em;
    margin-left: 285px;
    margin-top: 78px;
    height: 6px
  }
  .style5 {
    margin-left: 371px;
    margin-top: 49px;
    width: 2px;
    height: 2px
  }
  .row0column1 {
    display: flex;
    margin-left: 41px;
    width: 164px;
    height: 119px;
    align-items: stretch;
    flex-direction: column
  }
  .style7,
  .style8 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.92em;
    margin-top: 0;
    height: 61px
  }
  .style8 {
    margin-top: 18px;
    height: 39px
  }
  .style12,
  .style9 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    position: relative
  }
  .style9 {
    display: flex;
    flex-direction: column;
    margin-left: 61px;
    margin-top: 98px;
    width: 621px;
    height: 176px
  }
  .style12 {
    margin-left: 350px;
    margin-top: 160px;
    width: 156px;
    height: 170px;
    flex-shrink: 0
  }
  .row2 {
    display: flex;
    margin-left: 121px;
    margin-top: 4px;
    width: 270px;
    height: 154px;
    align-items: center
  }
  .style10 {
    margin-left: 0;
    width: 133px;
    height: 100%
  }
  .style11 {
    margin-left: 39px;
    width: 98px;
    height: 143px
  }
  .style13 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.92em;
    margin-left: 2px;
    margin-top: 8px;
    height: 297px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .row0 {
    display: flex;
    margin-left: 2px;
    margin-top: 0;
    width: 775px;
    height: 243px;
    align-items: center
  }
  .style4 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 0;
    width: 530px;
    height: 100%;
    flex-direction: column
  }
  .style6 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.3em;
    margin-left: 341px;
    margin-top: 93px;
    height: 7px
  }
  .style5 {
    margin-left: 444px;
    margin-top: 59px;
    width: 2px;
    height: 2px
  }
  .row0column1 {
    display: flex;
    margin-left: 49px;
    width: 196px;
    height: 142px;
    align-items: stretch;
    flex-direction: column
  }
  .style7,
  .style8 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.3em;
    margin-top: 0;
    height: 74px
  }
  .style8 {
    margin-top: 22px;
    height: 47px
  }
  .style12,
  .style9 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    position: relative
  }
  .style9 {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    margin-top: 118px;
    width: 743px;
    height: 211px
  }
  .style12 {
    margin-left: 420px;
    margin-top: 191px;
    width: 186px;
    height: 204px;
    flex-shrink: 0
  }
  .row2 {
    display: flex;
    margin-left: 145px;
    margin-top: 5px;
    width: 324px;
    height: 184px;
    align-items: center
  }
  .style10 {
    margin-left: 0;
    width: 159px;
    height: 100%
  }
  .style11 {
    margin-left: 47px;
    width: 118px;
    height: 172px
  }
  .style13 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.3em;
    margin-left: 2px;
    margin-top: 10px;
    height: 356px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .row0 {
    display: flex;
    margin-left: 3px;
    margin-top: 0;
    width: 1011px;
    height: 317px;
    align-items: center
  }
  .style4 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 0;
    width: 691px;
    height: 100%;
    flex-direction: column
  }
  .style6 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 3em;
    margin-left: 445px;
    margin-top: 122px;
    height: 10px
  }
  .style5 {
    margin-left: 579px;
    margin-top: 77px;
    width: 3px;
    height: 3px
  }
  .row0column1 {
    display: flex;
    margin-left: 64px;
    width: 256px;
    height: 186px;
    align-items: stretch;
    flex-direction: column
  }
  .style7,
  .style8 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 3em;
    margin-top: 0;
    height: 96px
  }
  .style8 {
    margin-top: 29px;
    height: 61px
  }
  .style12,
  .style9 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    position: relative
  }
  .style9 {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    margin-top: 154px;
    width: 970px;
    height: 275px
  }
  .style12 {
    margin-left: 547px;
    margin-top: 250px;
    width: 243px;
    height: 266px;
    flex-shrink: 0
  }
  .row2 {
    display: flex;
    margin-left: 189px;
    margin-top: 6px;
    width: 422px;
    height: 240px;
    align-items: center
  }
  .style10 {
    margin-left: 0;
    width: 208px;
    height: 100%
  }
  .style11 {
    margin-left: 61px;
    width: 154px;
    height: 224px
  }
  .style13 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 3em;
    margin-left: 3px;
    margin-top: 13px;
    height: 464px
  }
}